PORT=3000
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<database>
WEBHOOK_SECRET=<your_webhook_secret>
GUEST_API_URL=http://localhost:3001
WEBHOOK_REGISTER_URL=http://host.docker.internal:3000/webhooks
WEBHOOK_URL=http://host.docker.internal:3000/webhooks
